* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#autofill-bubble {
  position: fixed;
  bottom: 85px;
  right: 15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #aef55c;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

#autofill-bubble:hover {
  background-color: rgb(44, 147, 44);
}